<h1>Registro</h1>
<form action="/session/register" method="POST">
  <input name="first_name" placeholder="Nombre" required />
  <input name="last_name"  placeholder="Apellido" required />
  <input name="age"        placeholder="Edad" type="number" />
  <input name="email"      placeholder="Email" type="email" required />
  <input name="password"   placeholder="Password" type="password" required />
  <button type="submit">Registrarme</button>
</form>
